@import "../../styles.css";





table{
  width: 100%;
 
 }
.mat-row:hover {
  background-color:#EEEEEE;;
}
th.mat-sort-header-sorted {
  color: black;
}
.input-filter {
padding-top: 1%;
}
.icon {
  width: 20px;
  height: 20px;
}
.rtSelected .rtIn
{
    background-color: lime !important;
    background-image: blue !important;
    color: brown !important;
}
nav>ul>li>.active {
    background-color: #E9ECEF;
  }
  nav>ul>ul>li>.active {
    background-color: #E9ECEF;
  }
  nav>ul>ul>li>ul>li>.active {
    
    background-color: #E9ECEF;
  }
  .nav>ul>li>a {
    color: black;
    text-decoration:none !important;
  }
  
  .nav>ul>li>a:hover {
    color:black; 
    text-decoration:none !important;
    cursor:pointer;  
  }
  button:focus {
      outline: none;
    }
    .button-folder {
     padding: 10px;
      font-size: 18px;
       color: #737373;
  
     }
   
     .btn-folder {
      color: black;
      font-size: 13px;
    
    }
  
    .btn-folder:active{
      background:#EEEEEE;
    
      outline: none;
        border: none;
        box-shadow: none;
    }
    .btn-folder:focus{
      background:#EEEEEE;
      outline: none;
        border: none;
        box-shadow: none;
    }
    .btn-folder:hover {
    
         
    
      background-color:  #E9ECEF;
    
    }
     .button-folder:hover {
  
       
  
      background-color:  #E9ECEF;
  
    }
  
    .button-folder:focus {
  
      outline: none;
  
      box-shadow: none;
  
    }
    .nav-side-menu ul   :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f078";
      display: inline-block;
      font-weight: 900;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
      color: #737373;
     
    }
    .nav-icon {
      color: #FFE69A;
    }
    .border2 {border-style: solid;
      border-width: 2px;
    color: #E0E0E0;
   
    }
    .border3 {
      border-style: solid;
      border-width: 2px;
    color: #E0E0E0;
    border-top: none;
    border-left: none;
    position: relative;
  
    }  
    .child {
      width: 50px;
      height: 50px;
     
      /* Center vertically and horizontally */
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
    }
    
    .border1 {border-style: solid;
      border-width: 2px;
    color: #E0E0E0;
    border-top: none;
    
    
    }
    .action-bar {
      padding: 10px;
      min-height: 50px;
    }
    .button {
      width: auto;
    }
    ul {
      list-style-type: none;
    }
    .tab {
      min-height: 300px;
    }
    .img-button {

      position: absolute;
    
      left: 50%;
    
      top: 50%;
    
      transform: translate(-50%, -50%);
    
      height: 120px;
    
      width: 120px;
    
    }
    
    .link-button {
    
      height: 150px;
    
      width: 150px;
    
      border: none;
    
      text-align: center;
    
      font-size: 18px;
    
      cursor: pointer;
    
      border-radius: 50%;
    
      background-color: white;
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
      align-items: center;
    
      position: relative;
    
      
    
     
    
    }
    
    .link-button:active{
    
      height: 150px;
    
      width: 150px;
    
      border: none;
    
      text-align: center;
    
      font-size: 18px;
    
      cursor: pointer;
    
      border-radius: 50%;
    
      background-color: white;
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
    }
    
    .link-button:focus{
    
      height: 150px;
    
      width: 150px;
    
      border: none;
    
      text-align: center;
    
      font-size: 18px;
    
      cursor: pointer;
    
      border-radius: 50%;
    
      background-color: white;
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
    }
    
    .link-button:hover {
    
    
    
         
    
    
    
      height: 150px;
    
      width: 150px;
    
      border: none;
    
      text-align: center;
    
      font-size: 18px;
    
      cursor: pointer;
    
      border-radius: 50%;
    
      background-color: white;
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
    
    
    }
    
    
    
    .image2 {
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
     
    
      height: 150px;
    
      margin-bottom: 20px;
    
      border-radius: 10px;
    
      
    
      }
    
     .image3 {
    
    
    
        height: 150px;
    
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
      border-radius: 10px;
    
        }
    
    
    
    
    
    
    
    .nav-icon {
    
      color: #FFE69A;
    
    }
    
    ul {
    
      list-style-type: none;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* end .squaredThree */
    
    .checkboxtext {
    
      margin-top: 1px;
    
      font-weight: 500;
    
    }
    
    .label-text {
    
      position: relative;
    
      left: 10px;
    
    }
    
      
    
      .a1 {
    
         height: 39px;
    
         position: relative;
    
         display: flex;
    
      }
    
      .center {
    
        display: flex;
    
        margin: 0;
    
        position: absolute;
    
        top: 50%;
    
        -ms-transform: translateY(-50%);
    
        transform: translateY(-50%);
    
       
    
      }
    
      .center2 {
    
        display: flex;
    
        margin: 0;
    
        position: absolute;
    
        top: 50%;
    
        -ms-transform: translateY(-50%);
    
        transform: translateY(-50%);
    
      
    
      }
    
      .bg {
    
        background-color: chartreuse;
    
      }
    
      .icon {
    
        font-size: 17px;
    
      }
    
      .nav-side-menu ul   :not(collapsed) .arrow:before,
    
      .nav-side-menu li :not(collapsed) .arrow:before {
    
        font-family: 'Font Awesome 5 Free';
    
        content: "\f078";
    
        display: inline-block;
    
        font-weight: 900;
    
        padding-left: 10px;
    
        padding-right: 10px;
    
        vertical-align: middle;
    
        float: right;
    
        color: #737373;
    
       
    
      }
    
     .border2 {border-style: solid;
    
      border-width: 2px;
    
    color: #E0E0E0;
    
    border-right: none;
    
    }
    
    .border1 {border-style: solid;
    
      border-width: 2px;
    
    color: #E0E0E0;
    
    border-top: none;
    
    
    
    
    
    }
    
    .mat-grid-tile {
    
      background: lightblue;
    
    }
    
    .image1 {
    
      height: 320px;
    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
      border-radius: 10px;
    
    }
    
     
    
      
    
      .button {
    
        width: auto;
    
      }
    
     
    
    
    
       .button-comment:hover {
    
    
    
         
    
    
    
        background-color:  #E9ECEF;
    
    
    
      }
    
    
    
      .button-comment:focus {
    
    
    
        outline: none;
    
    
    
        box-shadow: none;
    
    
    
      }
    
      .button-folder {
    
        padding-left: 20px;
    
        padding-right: 20px;
    
        font-size: 18px;
    
         color: #737373;
    
    
    
       }
    
    
    
       .button-folder:hover {
    
    
    
         
    
    
    
        background-color:  #E9ECEF;
    
    
    
      }
    
    
    
      .button-folder:focus {
    
    
    
        outline: none;
    
    
    
        box-shadow: none;
    
    
    
      }
    
      .action-bar {
    
        padding: 10px;
    
      }
    
      .content1 {
    
        min-height: 400px; 
        padding: 5%;
        
    
    
    
     }
    
      .margin {
    
       margin-left: 120px;
    
      }
    
      .center {
    
        position: absolute;
    
        left: 50%;
    
        top: 50%;
    
        
    
        /*
    
        Nope =(
    
        margin-left: -25%;
    
        margin-top: -25%;
    
        */
    
      
    
        /* 
    
        Yep!
    
        */
    
        transform: translate(-50%, -50%);
    
        
    
     
    
        
    
      }
    
      .child{
    
        position: absolute;
    
        top: 50%;
    
        left: 50%;
    
        transform: translate(-50%, -50%);
    
      }
    
      .c2 {
    
    
       
    
        background-position: center;
    
        background-repeat: no-repeat;
    
        background-size: cover;
    
        background-attachment: fixed;
    
      
    
      }
    
      .button-slide {
    
        width: 50px;
    
        height:50px ;
    
        border-radius: 25px;
    
        background-color: yellow;
    
        align-items: center;
    
      }
    
      .btn1 {
    
        background-color: rgba(0, 0, 0, 0.67);
    
       
        border: none;
       width: 40px;
       height: 40px;
        color: white;
        padding: 6px 0;
        
        
        text-align: center;
        font-size: 18px;
    
        cursor: pointer;
    
        border-radius: 25px;
    
    
      }
    
    
      .btn2{
        background-color: rgba(0, 0, 0, 0.67);
    
       
        border: none;
       width: 40px;
       height: 40px;
        color: white;
        padding: 6px 0;
        
        
        text-align: center;
        font-size: 18px;
    
        cursor: pointer;
    
        border-radius: 25px;
       
        margin-left: auto;
    
      }
      .icon-btn {
    
        color: white;
    
      }
    
      
    
      .flex-container {
    
    
    
        display: flex;
    
    
    
        flex-direction: column;
    
    
    
        justify-content:center;
    
        align-items:center;
    
    
    
      }
    
      .flex-container2 {
    
    
    
        display: flex;
    
    
    
        flex-direction: row;
    
    
    
        justify-content:center;
    
        align-items:center;
    
    
    
      }
    
    
    
      .name-text {
    
        font-weight: 700;
    
    
    
        font-size: 25px;
    
      }
    
    
    
      .centered2 {
    
        position: absolute;
    
        height: 100%;
    
        background-color:rgba(240, 120, 40, 0.52);
    
        border-radius: 25px;
    
      }
    
      a, a:hover
    
      {   text-decoration: none;
    
      color: white;}
    
      .image4 {
    
        height: 220px;
    
        
    
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    
        border-radius: 25px;
    
        width: 100%;
    
       
    
      }
    
      .name {
    
        font-size: 30px;
    
        color: black;
    
        font-weight: 650;
    
        text-align: center;
    
        margin: auto;
    
     
    
       
    
      }
      .container1 {
        position: relative;
      }
    
      
    
      .title {color: #fc5000;
    
        background-color: black;
    
    
    
      display: inline;
    
      padding: 0.5rem;
    
      
    
      /* Needs prefixing */
    
      -webkit-box-decoration-break: clone;
    
      box-decoration-break: clone;
    
    size: 70px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    .wrapper {
    
      display: flex;
    
      flex-flow: row wrap;
    
      justify-content: center;
    
    }
    
    .card-solution {
      width: 200px;
    
      height: 220px;
    }
    
    .card1 {
    
      width: 280px;
    
      height: 320px;
    
    margin:10px;
    
    
    }
    
    .card1 .content {
    
      position: relative;
    
      width: 100%;
    
      height: 100%;
    
      transform-style: preserve-3d;
    
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
    
    }
    
    
    
    .more {
    
      display: none;
    
    }
    
    .more:checked ~ .content {
    
      transform: rotateY(180deg);
    
    }
    
    
    
    .front,
    
    .back {
    
      position: absolute;
    
      top: 0;
    
      left: 0;
    
      width: 100%;
    
      height: 100%;
    
      backface-visibility: hidden;
    
      transform-style: preserve-3d;
    
      border-radius: 6px;
    
    }
    
    .front .inner,
    
    .back .inner {
    
      height: 100%;
    
      display: grid;

    
      transform: translateZ(80px) scale(0.94);
    
    }
    
    
    
    .front {
    
      background-color: #fff;
    
      background-size: cover;
    
      background-position: center center;
    
    }
    
    .front:after {
    
      content: "";
    
      position: absolute;
    
      top: 0;
    
      left: 0;
    
      width: 100%;
    
      height: 100%;
    
      display: block;
    
      border-radius: 6px;
    
      backface-visibility: hidden;
    
      background: linear-gradient(30deg, #CA5000,#F07626, rgba(226, 217, 166, 0.7));
    
    }
    
    .front .inner {
    
      grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    
      justify-items: center;
    
    }
    
    .front h2 {
    
      grid-row: 2;
    
      margin-bottom: 0.3em;
    
      text-transform: uppercase;
    
      letter-spacing: 3px;
    
      color: #fff;
    
      font-weight: 500;
    
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    
    }
    
    
    
    
    
    .back {
    
      transform: rotateY(180deg);
    
      background-color: #fff;
    
      border: 2px solid #f0f0f0;
    
    }
    
    .back .inner {
    
    
    
      grid-template-columns: repeat(4, auto);
    
      grid-column-gap: 0.8em;
    
      justify-items: center;
    
    }
    
    
    .descrption-text {
      font-size: 20px;
    }
    .back .description {
    
     
    
      grid-column: 1/-1;
    
     
    
     
    
      font-weight: 600;
    
      
      overflow: auto;
    
      color: #CA5000;
    
      padding-right: 10px;
    
    
    }
    
    
    
    .button {
    
    
    
      text-transform: uppercase;
    
      letter-spacing: 1px;
    
      font-weight: 600;
    
      cursor: pointer;
    
      display: block;
    
      padding: 0 1.5em;
    
      height: 3em;
    
      line-height: 2.9em;
    
      min-width: 3em;
    
      background-color: transparent;
    
      border: solid 2px #fff;
    
      color: #fff;
    
      border-radius: 4px;
    
      text-align: center;
    
    
    
      backface-visibility: hidden;
    
      transition: 0.3s ease-in-out;
    
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    
    }
    
    .button:hover {
    
      background-color: #fff;
    
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    
      text-shadow: none;
    
      color: #CA5000
    
    }
    
    .button.return {
    
      line-height: 3em;
    
      color: #CA5000;
    
      border-color: #CA5000;
    
      text-shadow: none;
    
    }
    
    .button.return:hover {
    
      background-color: #CA5000;
    
      color: #fff;
    
      box-shadow: none;
    
    }
    
    
    
    ::-webkit-scrollbar {
    
      width: 5px;
    
    }
    
    
    
    ::-webkit-scrollbar-track {
    
      background: #f1f1f1;
    
    }
    
    
    
    ::-webkit-scrollbar-thumb {
    
      background: #F07626;
    
    }
    
    
    
    ::-webkit-scrollbar-thumb:hover {
    
      background: #CA5000;
    
    }
    .centered {
    
      position: absolute;
    
      top: 50%;
    
      left: 50%;
    
      transform: translate(-50%, -50%);
      background-color:rgba(255, 255, 255, 0.75);
    
      padding: 3%;
    
      text-align: center; 
    
      vertical-align: middle;
    
      
    
    }
    .no-padding3 {
    
      padding-left: 0;
    
      padding-right: 0;
    
      position: relative;
    
      text-align: center;
    
      color: white;
      margin:10px;
    
    
    
    }
    .carousel-control-prev {
      
      width: 40px;
    }
    .carousel-control-next {
      width: 40px;
    }
    .c-card {
      
    }
    .carousel-content {
      min-height: 400px;
    }
    .k-listview {
       width: 930px;
      height: 450px;
    }
    .header-title {
      color:#CA5000;
    }
    .no-padding3 {

      padding-left: 0;
    
      padding-right: 0;
    
      position: relative;
    
      text-align: center;
    
      color: white;
    
    
    
    }
    .card {
      position: relative;
      display: block;
      height: 100%;
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      text-decoration: none;
    }
    .div-cardde {
      --surface-color: #fff;
      --curve: 40;
    }