  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    padding: 10px;
  }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  .action {
 

  }
  .example-card {
    padding-top: 0px;

  }
  .place {
  font-size: 15px;
  }
  .grid__item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
  
    
    transition: 0.2s;
      position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;


  margin-left: 10px;
  padding: 0;
  cursor: default;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  .grid__item:hover {
    transform: translateY(-0.7%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  .k-card-title {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
  h4,p {
    text-align: justify;
    margin-top: 10px !important;
  }
  .k-avatar {
    margin-right: 1em;
  }
  .k-card-footer {
    justify-content: space-between;
  }
  .k-icon.icon2 {
    color: #ff6358;
  }
  .k-button {
    width: 33.33%;
    font-size: 15px;
  }
  
  .k-card-subtitle {
    margin: 0 0 5px 0;
  }
 .card-tools {
    float: right;
    margin-right: -.625rem;
}
.card-body {
  -webkit-flex: 1 1 auto;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
}


.text-muted {
  color: #6c757d!important;
  
}

h4 {

  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 1.5rem;

}
.row1 {
padding: 1%
}
.card-event {
  width: 100%;
  position: relative;
}
.flex2 {
  display: flex;
  align-items: center;

  
}

.text-sm {
 font-size: 15px;
 
}

.text-sm2 {
  display: inline;
}
.destination {
  position: relative;
  width: 170px;
  height: 230px;
  margin-left: 10px;
  padding: 0;
  cursor: default;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.destination img {
  width: 160px;
  height: 150px;
  margin-bottom: 10px;
}
.destination h3 {
  margin: 0;
  padding: 3px 5px 0 0;
  max-width: 100%;
  overflow: hidden;
  line-height: 1.1em;
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #656565;
}
.destination p {
  width: 100%;
  font-size: 0.8em;
  color: #bababa;
}
.max-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.icon-meeting {
  width: 15px;
  height: 15px;
}