
<div *ngIf="show" class="container-fluid c1">
    <kendo-grid
[kendoGridBinding]="gridView"
kendoGridSelectBy="id"
[selectedKeys]="mySelection"
[pageSize]="20"
[pageable]="true"
[sortable]="true"
[groupable]="true"
[reorderable]="true"
[resizable]="true"  
[height]="800"
[columnMenu]="{ filter: true }"
>
<ng-template kendoGridToolbarTemplate>
    <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)"/>
    <button kendoButton icon="plus-outline" *ngIf="isadmin" (click)="openDialogNewUser()">Add user</button>

    <kendo-grid-spacer></kendo-grid-spacer>
    <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
    <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
</ng-template>
<kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{'text-center': true}"
    [class]="{'text-center': true}"
    [resizable]="false"
    [columnMenu]="false"
    showSelectAll="true"
></kendo-grid-checkbox-column>
<kendo-grid-column-group title="Employee" [columnMenu]="false">
    <kendo-grid-column field="full_name" title="Contact Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
             
            <img class="customer-photo"   *ngIf="dataItem.image!=null" [src]="'data:image/gif;base64,'+dataItem.image">
            <img class="customer-photo"   *ngIf="dataItem.image==null" >
            <div class="customer-name">{{ dataItem.full_name }}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="job_title" title="Job Title" [width]="220">
    </kendo-grid-column>
    <kendo-grid-column
        field="country"
        title="Country"
        [width]="100"
        [class]="{'text-center': true}"
        [resizable]="false"
    >
        <ng-template kendoGridCellTemplate let-dataItem>
            <img class="flag" [src]="flagURL(dataItem)" width="30">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
        field="is_online"
        title="action"
        [width]="100"
        [class]="{'text-center': true}"
        [resizable]="false"
        filter="boolean"
    >
        <ng-template kendoGridCellTemplate let-dataItem>
            <button *ngIf="isadmin" class="k-color-info" (click)="edit(dataItem)" kendoButton icon="edit"></button>
            <button class="k-color-success ml-2" kendoButton icon="user"></button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid-column-group>


<kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
<kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>
</div>
<div *ngIf="!show" class="container-fluid test2">
    <div class="h-100 row align-items-center justify-content-center t1">
      <div  class="row k-loading-panel">
        <div class="k-loading-panel-mask"></div>
        <div class="k-loading-panel-wrapper">
          <kendo-loader
            type="infinite-spinner"
            themeColor="primary"
            size="large"
          >
          </kendo-loader>
          <div class="k-loading-panel-text">Loading...</div>
        </div>
      </div>
      </div>
      </div>  