@import "../../styles.css";

  


.test2 {
  height: 100vh;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;



}

.c1 {
  padding: 4%;

}

.img-button {

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  height: 120px;

  width: 120px;

}
.child {
  width: 50px;
  height: 50px;
 
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
}

.link-button {

  height: 150px;

  width: 150px;

  border: none;

  text-align: center;

  font-size: 18px;

  cursor: pointer;

  border-radius: 50%;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

  align-items: center;

  position: relative;

  

 

}

.link-button:active{

  height: 150px;

  width: 150px;

  border: none;

  text-align: center;

  font-size: 18px;

  cursor: pointer;

  border-radius: 50%;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

}

.link-button:focus{

  height: 150px;

  width: 150px;

  border: none;

  text-align: center;

  font-size: 18px;

  cursor: pointer;

  border-radius: 50%;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

}

.link-button:hover {



     



  height: 150px;

  width: 150px;

  border: none;

  text-align: center;

  font-size: 18px;

  cursor: pointer;

  border-radius: 50%;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;



}



.image2 {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

 

  height: 150px;

  margin-bottom: 20px;

  border-radius: 10px;

  

  }

 .image3 {



    height: 150px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

  border-radius: 10px;

    }







.nav-icon {

  color: #FFE69A;

}

ul {

  list-style-type: none;

}

















/* end .squaredThree */

.checkboxtext {

  margin-top: 1px;

  font-weight: 500;

}

.label-text {

  position: relative;

  left: 10px;

}

  

  .a1 {

     height: 39px;

     position: relative;

     display: flex;

  }

  .center {

    display: flex;

    margin: 0;

    position: absolute;

    top: 50%;

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);

   

  }

  .center2 {

    display: flex;

    margin: 0;

    position: absolute;

    top: 50%;

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);

  

  }

  .bg {

    background-color: chartreuse;

  }

  .icon {

    font-size: 17px;

  }

  .nav-side-menu ul   :not(collapsed) .arrow:before,

  .nav-side-menu li :not(collapsed) .arrow:before {

    font-family: 'Font Awesome 5 Free';

    content: "\f078";

    display: inline-block;

    font-weight: 900;

    padding-left: 10px;

    padding-right: 10px;

    vertical-align: middle;

    float: right;

    color: #737373;

   

  }

 .border2 {border-style: solid;

  border-width: 2px;

color: #E0E0E0;

border-right: none;

}

.border1 {border-style: solid;

  border-width: 2px;

color: #E0E0E0;

border-top: none;





}

.mat-grid-tile {

  background: lightblue;

}

.image1 {

  height: 320px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

  border-radius: 10px;

}

 

  

  .button {

    width: auto;

  }

 



   .button-comment:hover {



     



    background-color:  #E9ECEF;



  }



  .button-comment:focus {



    outline: none;



    box-shadow: none;



  }

  .button-folder {

    padding-left: 20px;

    padding-right: 20px;

    font-size: 18px;

     color: #737373;



   }



   .button-folder:hover {



     



    background-color:  #E9ECEF;



  }



  .button-folder:focus {



    outline: none;



    box-shadow: none;



  }

  .action-bar {

    padding: 10px;

  }

  .content1 {

    min-height: 400px; 
   padding: 4%;
    



 }

  .margin {

   margin-left: 120px;

  }

  .center {

    position: absolute;

    left: 50%;

    top: 50%;

    

    /*

    Nope =(

    margin-left: -25%;

    margin-top: -25%;

    */

  

    /* 

    Yep!

    */

    transform: translate(-50%, -50%);

    

 

    

  }

  .child{

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

  }

  .c2 {


   

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    background-attachment: fixed;

  

  }

  .button-slide {

    width: 50px;

    height:50px ;

    border-radius: 25px;

    background-color: yellow;

    align-items: center;

  }

  .btn1 {

    background-color: rgba(0, 0, 0, 0.67);

   
    border: none;
   width: 40px;
   height: 40px;
    color: white;
    padding: 6px 0;
    
    
    text-align: center;
    font-size: 18px;

    cursor: pointer;

    border-radius: 25px;


  }


  .btn2{
    background-color: rgba(0, 0, 0, 0.67);

   
    border: none;
   width: 40px;
   height: 40px;
    color: white;
    padding: 6px 0;
    
    
    text-align: center;
    font-size: 18px;

    cursor: pointer;

    border-radius: 25px;
   
    margin-left: auto;

  }
  .icon-btn {

    color: white;

  }

  

  .flex-container {



    display: flex;



    flex-direction: column;



    justify-content:center;

    align-items:center;



  }

  .flex-container2 {



    display: flex;



    flex-direction: row;



    justify-content:center;

    align-items:center;



  }



  .name-text {

    font-weight: 700;



    font-size: 25px;

  }



  .centered2 {

    position: absolute;

    height: 100%;

    background-color:rgba(93, 94, 152, 0.50);

    border-radius: 25px;

  }

  a, a:hover

  {   text-decoration: none;

  color: white;}

  .image4 {

    height: 180px;

    

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

    border-radius: 25px;

    width: 100%;

   

  }

  .name {

    font-size: 23px;

    color: black;

    font-weight: 650;

    text-align: center;

    margin: auto;

 

   

  }
  .container1 {
    position: relative;
  }

  

  .title {color: #fc5000;

    background-color: black;



  display: inline;

  padding: 0.5rem;

  

  /* Needs prefixing */

  -webkit-box-decoration-break: clone;

  box-decoration-break: clone;

size: 70px;}













.wrapper {

  display: flex;

  flex-flow: row wrap;

  justify-content: center;

}

.card-solution {
  width: 200px;

  height: 180px;
}

.card1 {

  width: 280px;

  height: 300px;




}

.card1 .content {

  position: relative;

  width: 100%;

  height: 100%;

  transform-style: preserve-3d;

  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);

}



.more {

  display: none;

}

.more:checked ~ .content {

  transform: rotateY(180deg);

}



.front,

.back {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  backface-visibility: hidden;

  transform-style: preserve-3d;

  border-radius: 6px;

}

.front .inner,

.back .inner {

  height: 100%;

  display: grid;

  padding: 1em;

  transform: translateZ(80px) scale(0.94);

}



.front {

  background-color: #fff;

  background-size: cover;

  background-position: center center;

}

.front:after {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  display: block;

  border-radius: 6px;

  backface-visibility: hidden;

  background: linear-gradient(40deg, #7150aa, rgba(226, 217, 166, 0.7));

}

.front .inner {

  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;

  justify-items: center;

}

.front h2 {

  grid-row: 2;

  margin-bottom: 0.3em;

  text-transform: uppercase;

  letter-spacing: 3px;

  color: #fff;

  font-weight: 500;

  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}





.back {

  transform: rotateY(180deg);

  background-color: #fff;

  border: 2px solid #f0f0f0;

}

.back .inner {



  grid-template-columns: repeat(4, auto);

  grid-column-gap: 0.8em;

  justify-items: center;

}


.descrption-text {
  font-size: 20px;
}
.back .description {

 

  grid-column: 1/-1;

 

 

  font-weight: 600;

  
  overflow: auto;

  color: #7150aa;

  padding-right: 10px;


}



.button {



  text-transform: uppercase;

  letter-spacing: 1px;

  font-weight: 600;

  cursor: pointer;

  display: block;

  padding: 0 1.5em;

  height: 3em;

  line-height: 2.9em;

  min-width: 3em;

  background-color: transparent;

  border: solid 2px #fff;

  color: #fff;

  border-radius: 4px;

  text-align: center;



  backface-visibility: hidden;

  transition: 0.3s ease-in-out;

  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

}

.button:hover {

  background-color: #fff;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

  text-shadow: none;

  color: #7150aa

}

.button.return {

  line-height: 3em;

  color: #7150aa;

  border-color: #7150aa;

  text-shadow: none;

}

.button.return:hover {

  background-color: #7150aa;

  color: #fff;

  box-shadow: none;

}



::-webkit-scrollbar {

  width: 5px;

}



::-webkit-scrollbar-track {

  background: #f1f1f1;

}



::-webkit-scrollbar-thumb {

  background: #8586AE;

}



::-webkit-scrollbar-thumb:hover {

  background: #5d5e98;

}
.centered {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);
  background-color:rgba(255, 255, 255, 0.65);

  padding: 3%;

  text-align: center; 

  vertical-align: middle;

  

}
.no-padding3 {

  padding-left: 0;

  padding-right: 0;

  position: relative;

  text-align: center;

  color: white;



}
.carousel-control-prev {
  
  width: 40px;
}
.carousel-control-next {
  width: 40px;
}
.c-card {
  
}
/*
.social-links:hover > .item {
  transform: scale(1);

}*/



.item3 {
  transform: scale(0.8);

}

.item1 {
 
  transform: scale(1.06);
 
  
}
.div-cardde {
  --surface-color: #fff;
  --curve: 40;
}


body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
min-height: 200px;


    

border-radius: calc(var(--curve) * 1px);

width: 100%;

}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  background-color: #5d5e98;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.5em;

  color: #5d5e98;
  font-weight: 600;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
 
 
  color: #5d5e98;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
 
  overflow: hidden;
}
.shadow {

}
.action2 {
  border-left: 4px solid #fc5000;
   padding: 2%;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: .25rem;
}
.action {
 
  margin-bottom: 1rem;
  position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;


}
.example-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
button:focus {
  outline: none;
}
.custom-modalbox {

      padding: 0;
  
}
