
<div class="modal fade bd-example-modal-lg" id="post" tabindex="-1" role="dialog" aria-labelledby="post" aria-hidden="true">



  
    <div class="modal-dialog modal-dialog-centered" role="document" style="background-color: aqua;">




      <div class="modal-content">




        <div class="modal-header bg-grey">




          <h5 class="modal-title title" id="exampleModalLongTitle">Create Post</h5>




          <button type="button" class="close" data-dismiss="modal" aria-label="Close">




            <span aria-hidden="true">&times;</span>




          </button>




        </div>




        <div class="modal-body container-fluid ">




            <form [class]="class"  >

 

                

 

                <div class="custom-control custom-radio custom-control-inline">

 

                    <input type="radio" id="rd_1" name="rd" class="custom-control-input" value="actuality" [(ngModel)]="credentials.actuality" checked>

 

                    <label class="custom-control-label label" for="rd_1">Actuality</label>

 

                  </div>

 

                  <div class="custom-control custom-radio custom-control-inline">

 

                    <input type="radio" id="rd_2" name="rd" class="custom-control-input" [(ngModel)]="credentials.actuality"  value="event">

 

                    <label class="custom-control-label label" for="rd_2">Event</label>

 

                  </div>

 

                

 

            </form>

 

            <div *ngIf="credentials.actuality=='actuality'" class="row container-post">

 

                <form class="row"  name="form" (ngSubmit)="onSubmit2()">

 

                    <div class="col-6 form-group">

                        <label class="label" for="exampleFormControlInput1">Visibility</label>

                        <select [(ngModel)]="post.visibility" placeholder="visibility" name="visibility" class="custom-select" id="inlineFormCustomSelect">

 

                           

 

                            <option value="1"> <i class="far fa-eye"></i> Public</option>

 

                            <option value="2">Tunis</option>

 

                            <option value="3">Singapour</option>

 

                            <option value="4">France</option>

 

                            <option value="5">Genéve</option>

   

                          </select>

 

                    </div>
                    <div class="col-12">
                    <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"  [(ngModel)]="form" name="form">
                    </kendo-upload>
                   </div>
                   <!--
                   <div class="form-group">
                    <label>File Upload  </label>
                        <input type="file" accept="image/*" (change)="onSelectFile($event)">
                        
                   </div>
                   -->

                    <div class="col-12 form-group" >

                        <label class="label" for="exampleFormControlInput1">Post</label>

                        <textarea name="content" [(ngModel)]="post.content" class="form-control" id="exampleFormControlTextarea1" placeholder="What do you want to talk about ?" rows="4"></textarea>

 

                    </div> 
                     <!--
                    <div class="col-12 form-group">

                        <label class="label" for="exampleInputPassword1">Upload photo/video</label>

                       </div>

                            

                       <div class="col-8 form-group">

                        

                        <label for="file-input">

    

                           <p class="upload"><i class="fas fa-photo-video pr-1 text-success " aria-hidden="true"></i>photo/video</p> 

    

                        </label>

    

                    

    

                        <input id="file-input"  class="file-input" type="file" (change)="selectFile($event)" />

    

                        

    

                        

    

                    </div>                   

                            -->

                    <div class="col-12 form-group">

 

                        <button type="submit" class="btn btn-primary btn-block button-post">Post</button>

 

                      </div>

 

                  </form>

 

            </div>

 

            <div *ngIf="credentials.actuality=='event'" class="row container-post" >

 

                <form class="row container-post" >

 

                    <div class="row FixedHeightContainer container-post">

 

                       <div class="row Content container-post">

 

                        <div class="col-6 form-group">

                            <label class="label" for="exampleFormControlInput1">Visibility</label>

                            <select  placeholder="visibility" class="custom-select" id="inlineFormCustomSelect">

                                

                                <option value="" disabled selected> visibility</option>

 

                                <option value="1"> <i class="far fa-eye"></i> Public</option>

 

                                <option value="2">Tunis</option>

 

                                <option value="3">Singapour</option>

 

                                <option value="4">France</option>

 

                                <option value="5">Genéve</option>

 

                              </select>

 

                        </div>

 

                        <div class="col-12 form-group">

 

                            <label class="label" for="exampleFormControlInput1">Event Name</label>

 

                            <input type="text" class="form-control" id="exampleFormControlInput1">

 

                        </div> 

 

                        <div class="col-6 form-group">

 

                            

 

                            <label class="label" for="exampleInputPassword1">Star Date</label>

 

                            <input type="date" class="form-control"  id="exampleInputPassword1" placeholder="Password">

 

                          

 

                       </div>  

 

                       <div class="col-6 form-group">

 

                        

 

                        <label class="label" for="exampleInputPassword1">End Date</label>

 

                        <input type="date" class="form-control"  id="exampleInputPassword1" placeholder="Password">

 

                      

 

                       </div>  

 

                           

 

                        <div class="col-6 form-group">

 

                            

 

                                <label class="label" for="exampleInputPassword1">Star Time</label>

 

                                <input type="time" class="form-control"  id="exampleInputPassword1" 

 

                                >

 

                              

 

                        </div>  

 

                        <div class="col-6 form-group">

 

                            

 

                            <label class="label" for="exampleInputPassword1">End Time</label>

 

                            <input type="time" class="form-control"  id="exampleInputPassword1" 

 

                            >

 

                          

 

                       </div>  

 

                       <div class="col-12 form-group">

 

                            

 

                        <label class="label" for="exampleInputPassword1">Description</label>

 

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

 

                      

 

                   </div>   

                   <div class="col-12 form-group">

                    <label class="label" for="exampleInputPassword1">Upload photo/video</label>

                   </div>

                        

                   <div class="col-8 form-group">

                    

                    <label for="file-input">

 

                       <p class="upload"><i class="fas fa-photo-video pr-1 text-success " aria-hidden="true"></i>photo/video</p> 

 

                    </label>

 

                

 

                    <input id="file-input"  class="file-input" type="file" (change)="selectFile($event)" />

 

                    

 

                    

 

                </div>

 

                   <div class="col-12 form-group">

 

                            

 

                    <label class="label" for="exampleInputPassword1">Location</label>

 

                    <div class="custom-control form-control-lg custom-checkbox">  

                             <input type="checkbox" class="custom-control-input" id="customCheck1" value="true"  [(ngModel)]="checkbox.Online" [ngModelOptions]="{standalone: true}">  

                            <label class="custom-control-label" for="customCheck1">This is an online event</label>  

                    </div>

                 </div> 

 

                  <div  *ngIf="checkbox.Online" class="col-12 form-group">

 

                    <label for="exampleFormControlInput1">Registration or broadcast link</label>

 

                    <input type="text" class="form-control" id="exampleFormControlInput1">

 

                  </div> 

                  <div *ngIf="!checkbox.Online" class="col-12 form-group">

 

                    <label for="exampleFormControlInput1">Address</label>

 

                    <input type="text" class="form-control" id="exampleFormControlInput2">

 

                  </div>

                <div *ngIf="!checkbox.Online" class="col-12 form-group">

 

                    <label for="exampleFormControlInput1">Venue</label>

 

                    <input type="text" class="form-control" id="exampleFormControlInput3">

 

                 </div>

                 

                    </div>

 

                    </div>

 

                    

 

                    <div class="col-12 form-group">

 

                        <button type="submit" class="btn btn-primary btn-block button-post">Post</button>

 

                      </div>

 

                   </form>




            </div>

 

            

 

         




         




        </div>




        




      </div>




    </div>




  </div>

 

<div class="modal fade bd-example-modal-lg" id="post2" tabindex="-1" role="dialog" aria-labelledby="post" aria-hidden="true">




    <div class="modal-dialog modal-dialog-centered" role="document">




      <div class="modal-content">




        <div class="modal-header bg-grey">




          <h5 class="modal-title title" id="exampleModalLongTitle"><p>Create Post</p></h5>




          <button type="button" class="close" data-dismiss="modal" aria-label="Close">




            <span aria-hidden="true">&times;</span>




          </button>




        </div>




        <div class="modal-body container-fluid ">

 

            <form class="row container-post2" >

 

                

 

                <div class="custom-control custom-radio custom-control-inline">

 

                    <input type="radio" id="rd_1" name="rd" class="custom-control-input" value="actuality"  checked>

 

                    <label class="custom-control-label" for="rd_1">Actuality</label>

 

                  </div>

 

                  <div class="custom-control custom-radio custom-control-inline">

 

                    <input type="radio" id="rd_2" name="rd" class="custom-control-input"  value="event">

 

                    <label class="custom-control-label" for="rd_2">Event</label>

 

                  </div>

 

              

 

            </form>

 

            <div class="row container-post">

 

                <form class="row container-post" >

 

                    <div class="row FixedHeightContainer container-post">

 

                       <div class="row Content container-post">

 

                        <div class="col-6 form-group">

 

                            <select  placeholder="visibility" class="custom-select" id="inlineFormCustomSelect">

 

                                <option value="" disabled selected> visibility</option>

 

                                <option value="1"> <i class="far fa-eye"></i> Public</option>

 

                                <option value="2">Tunis</option>

 

                                <option value="3">Singapour</option>

 

                                <option value="4">France</option>

 

                                <option value="5">Genéve</option>

 

                              </select>

 

                        </div>

 

                        <div class="col-12 form-group">

 

                            <label for="exampleFormControlInput1">Event Name</label>

 

                            <input type="text" class="form-control" id="exampleFormControlInput1">

 

                        </div> 

 

                        <div class="col-6 form-group">

 

                            

 

                            <label for="exampleInputPassword1">Star Date</label>

 

                            <input type="date" class="form-control"  id="exampleInputPassword1" placeholder="Password">

 

                          

 

                       </div>  

 

                       <div class="col-6 form-group">

 

                        

 

                        <label for="exampleInputPassword1">End Date</label>

 

                        <input type="date" class="form-control"  id="exampleInputPassword1" placeholder="Password">

 

                      

 

                       </div>  


                       
 

                           

 

                        <div class="col-6 form-group">

 

                            

 

                                <label for="exampleInputPassword1">Star Time</label>

 

                                <input type="time" class="form-control"  id="exampleInputPassword1" 

 

                                >

 

                              

 

                        </div>  

 

                        <div class="col-6 form-group">

 

                            

 

                            <label for="exampleInputPassword1">End Time</label>

 

                            <input type="time" class="form-control"  id="exampleInputPassword1" 

 

                            >

 

                          

 

                       </div>  

 

                       <div class="col-12 form-group">

 

                            

 

                        <label for="exampleInputPassword1">Description</label>

 

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

 

                      

 

                   </div>        

 

                   <div class="col-12 form-group">

 

                            

 

                    <label for="exampleInputPassword1">Location</label>

 

                    <div class="form-check">

 

                        <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>

 

                        <label class="form-check-label" for="exampleCheck1" >Online</label>

 

                    </div>

 

                    

 

                 </div> 

 

                 <div class="col-12 form-group">

 

                    <label for="exampleFormControlInput1">Registration or broadcast link</label>

 

                    <input type="text" class="form-control" id="exampleFormControlInput1">

 

                </div> 

 

                    </div>

 

                    </div>

 

                    

 

                    <div class="col-12 form-group">

 

                        <button type="submit" class="btn btn-primary btn-block button-post">Post</button>

 

                      </div>

 

                   </form>




            </div>

 

           

 

            

 

         




         




        </div>




        




      </div>




    </div>




</div>

 

  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">




    <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered " role="document">


   

      <div class="modal-content">




        <div class="modal-header">




          <button type="button" (click)="close()" class="close x" data-dismiss="modal" aria-label="Close">




            <span aria-hidden="true">&times;</span>




          </button>




        </div>




        <div class="modal-body">




           




            <div class="d-flex bg">




                <div class="p-1 mr-auto justify-self-center align-self-center">




                    <a  (click)="plusSlides()"><i class="fas fa-chevron-left button-n-p"></i></a>




                </div>
                <div class="p-4" class=" center" *ngFor="let image of pictures[current_index]">


                    <div [style.display]="image.style" >
                        <img [src]="image.src" class="  d-block w-100 img">

                    </div>


                </div>




                <div class="p-1 ml-auto justify-self-center align-self-center">




                    <a  (click)="plusSlides()"><i class="fas fa-chevron-right button-n-p"></i></a>




                  </div>
            </div>
        </div>
        </div>

      </div>
  </div>

 <div class="container-fluid" *ngIf="show">

          <div class="row mb-2">
     
      
           
      

      

          </div><!-- /.row -->
         
         
           
        
         
          
          

          <div class="row justify-content-center  ">

      
         
          <div class="col-md-7" style="margin-bottom: 5%;" >
                 <app-flash [flashs_info]="flashs_info" [change]="change" ></app-flash>
          <!--
            <kendo-scrollview
            class="row"
            [data]="flash"
            [width]="width2"
            [height]="height2"
            [arrows]="true"
            [pageable]="true"
          >
            <ng-template let-item="item">
              <kendo-card width="100%"   orientation="horizontal" >
                   
                <img
                 
                 class="col-5 k-card-image"
                  
                  kendoCardMedia
                  [src]="'data:image/png;base64,'+item.image"
                 
               
                />
         
              <div class="k-vbox col-7">
                <kendo-card-header>
          
                  <h6 kendoCardSubtitle>Flash-Info {{item.date_created}}</h6>
                  <h1 kendoCardTitle>{{ item.tilte }}</h1>
                 
                </kendo-card-header>
                <kendo-card-body >
             
                  <h6 class="k-card-subtitle">Card Subtitlessssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</h6>
              
                 
                    
                     
                
                
                
                </kendo-card-body>
                <kendo-card-actions>
                  <button class="k-button k-primary k-flat">View More</button>
                </kendo-card-actions>
              </div>
            </kendo-card>
            </ng-template>
          </kendo-scrollview>
          -->
            
              
   
        

            
              
               

             

                <div  *ngIf="isadmin"  class="jfheuf mt-3 mb-3"   >

          <div  class="d-flex justify-content-around buttons-div">


              <div>

      

      

      

               <button  class="btn button"><i class="fas fa-newspaper pr-1 text-primary" aria-hidden="true"></i>Actuality</button>

      

      

      

       

      

      

      

              </div>

      

      

      

       

      

      

      

              <div>

      

      

      

       

      

      

      

                <button  class="btn button"><i class="fas fa-photo-video pr-1 text-success" aria-hidden="true"></i>photo/video</button>

      

      

      

       

      

      

      

              </div>

      

      

      

       

      

      

      

              <div>

      

      

      

       

      

      

      

                <button  class="btn button"><i class="fas fa-calendar-alt text-danger pr-1" aria-hidden="true"></i>Event</button>

      

      

      

       

      

      

      

              </div>

      

      

      

       

      

      

      

          </div>

      

          <hr>

      
          <button type="button" class="btn  btn-lg btn-block button-news" (click)="openDialogeactualityt()"><p class="button-text">Hello {{user2.firstName}} , Do you want to share something?</p></button>
                       
    

       

      

      

      

                 </div>
                
            
                
              
                  <kendo-listview
                  *ngIf="show_actuality" 
                
                  height="900"
                  [data]="data"
                  style="background-color:#e9ecef    ;"
                  containerClass="k-d-flex k-flex-col k-flex-nowrap"
                  (scrollBottom)="loadMore()"
                  >
                  <ng-template
           
                  kendoListViewItemTemplate
                  let-element="dataItem"
                  let-isLast="isLast"
                  let-index="index"
                
              >
                  <kendo-card width="100%">
                    <kendo-card-header class="k-hbox">
                      <kendo-avatar
                        width="60px"
                        height="60px"
                        [imageSrc]="'data:image/gif;base64,'+element.user_actuality.image"
                        shape="circle"
                      ></kendo-avatar>
                      <div class="container-fluid">
                       
                        <h6 class="flex-container-div name-text">{{element.user_actuality.firstName}} {{element.user_actuality.lastName}}</h6>

                        <h6 class="flex-container-div post-text" >{{element.user_actuality.poste}}</h6>

                        <h6 class="flex-container-div post-text" >{{element.date_updated}}.{{element.visibility}}</h6>
                      </div>
                    </kendo-card-header>
                    
                    <kendo-card-body>
                      
                   
                     <div class="container-fluid">
                      <p >
                        {{element.content}}
                      </p>
                     </div>
                    
                    
                    
                    </kendo-card-body>
               
                 
                   
                  <div class="container-fluid" *ngIf="element.files.length==3">




                    <div class="row justify-content-between">
    
    
    
    
                        <div class="col a" (click)="display2(index,0)">
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][0].src2}" class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
      
    
    
    
                        </div>
    
    
    
    
                          <div  class="col a" (click)="display2(index,1)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][1].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                    </div>
    
    
    
    
                    <div class="row  r1">
    
    
    
    
                         <div  class="col a" (click)="display2(index,2)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][2].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                          
    
    
    
    
    
    
    
    
                    </div>
    
    
    
    
                  </div>
                   <div class="container-fluid" *ngIf="element.files.length==2">




                    <div class="row justify-content-between">
    
    
    
    
                        <div class="col a" (click)="display2(index,0)">
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][0].src2}" class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                        </div>
    
    
    
    
                          <div  class="col a" (click)="display2(index,1)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][1].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                    </div>
    
    
    
    
                 
    
    
    
    
                  </div>
                  <div class="container-fluid" *ngIf="element.files.length==4">




                    <div class="row justify-content-between">
    
    
    
    
                        <div class="col a" (click)="display2(index,0)">
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][0].src2}" class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                        </div>
    
    
    
    
                          <div  class="col a" (click)="display2(index,1)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][1].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                    </div>
    
    
    
    
                    <div class="row  r1">
    
    
    
    
                         <div  class="col a" (click)="display2(index,2)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][2].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                          
    
    
    
                          <div  class="col a" (click)="display2(index,3)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][3].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
    
    
    
    
                    </div>
    
    
    
    
                  </div>
                  <div class="container-fluid" *ngIf="element.files.length>4">




                    <div class="row justify-content-between">
    
    
    
    
                        <div class="col a" (click)="display2(index,0)">
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][0].src2}" class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                        </div>
    
    
    
    
                          <div  class="col a" (click)="display2(index,1)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][1].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                    </div>
    
    
    
    
                    <div class="row  r1">
    
    
    
    
                         <div  class="col a" (click)="display2(index,2)" >
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][2].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
    
    
    
    
                          </div>
    
    
    
    
                          
    
    
    
    
                          <div  class="col a image-4-4" (click)="display2(index,3)" >
    
    
    
    
                           
    
    
    
    
                            <a  [ngStyle]="{'background-image': pictures[index][3].src2        }"  class="col a" data-toggle="modal"  data-target="#exampleModalCenter" >
    
    
    
    
                                <p  class="centered"  data-toggle="modal"  data-target="#exampleModalCenter">+{{element.files.length-4}}</p></a>
    
    
    
    
                          </div>
    
    
    
    
                    </div>
    
    
    
    
                  </div>
                  <div *ngIf="element.files.length==1">
                    <div class="col a2" *ngFor="let image of pictures[index];let number=index" (click)="display2(index,number)">
    
    
    
    
                      <a id="{{chaine1+images[0].base64 +  chaine2 }}" [ngStyle]="{'background-image': image.src2        }" class="col a2" data-toggle="modal"  data-target="#exampleModalCenter" ></a>
  
  
  
  
                  </div>
                  </div>
                   
               
                    <div class="row row justify-content-between section-details">
                      <button type="button" class="btn btn-link"> {{element.likemessage.length}} Like</button>
                      <button type="button" class="btn btn-link" (click)="comment(element.id,index)">{{element.commentmessage.length}} comments</button>
                    </div>
                    
                    <kendo-card-actions orientation="horizontal" layout="stretched">
                      <button class="k-button k-flat" (click)="toggleLike(element.id,index)">
                        <span [ngClass]="heartIcon(index)"></span>
                        Like
                      </button>
                      <button class="k-button k-flat" (click)="comment(element.id,index)">
                        <span class="k-icon k-i-comment"></span>
                        Comment
                       </button>
                       <button class="k-button k-flat" (click)="comment(element.id,index)">
                        <span class="k-icon k-i-redo"></span>
                        Share
                       </button>
                    </kendo-card-actions>
              </kendo-card>
              
                   <kendo-card-footer *ngIf="element.show_comments" class="k-hbox"  class="container-fluid">



               
                        <div class="d-flex div-comment3" style="margin-top: 1%;" *ngFor="let comment of element.commentmessage">
                        <img class="image-commentaire2" [src]="'data:image/gif;base64,'+comment.user_comment.image" alt="">
                        <div class="container div-comment" >
                          <div class="row align-items-center justify-content-between div-comment2 ">
                            <div>
                              <h6 class="flex-container-div name-text">{{comment.user_comment.firstName}} {{comment.user_comment.lastName}}</h6>
  
                              <h6 class="flex-container-div post-text" >{{comment.user_comment.poste}}</h6>
                            </div>
                            <div>
                              <h6 class="flex-container-div post-text" >{{comment.date_created}}</h6>
                            </div>
                          </div>
                          <p class="row div-comment2">
                          {{comment.comment}}      
                          </p>
                        </div>
                        </div> 
                     
                        <div class=" d-flex div-comment3" style="margin-top: 1%;">
                 
                            <img class="image-commentaire2" [src]="'data:image/gif;base64,'+user2.image" alt="">
                           
                            <kendo-textarea class="comment-section" resizable="auto" [(ngModel)]="element.textValue">
                              <kendo-textarea-suffix class="custom-suffix">
                               
                                
                                
                                <button class="button-opacity k-button k-flat" (click)="clearValue(element.id,index)" >
                                  <span class="k-icon k-i-close-circle"></span>
                                  
                                 </button>
                                <kendo-input-separator class="k-text-base"></kendo-input-separator>
                              
                              <button class="button-opacity k-button k-flat" (click)="addComment(element.id,index)" >
                                <span class="fas fa-paper-plane"></span>
                              
                               </button>
                              </kendo-textarea-suffix>
                            </kendo-textarea>
                            
                        </div>  
                  
               
                       
    
    
    
                      </kendo-card-footer>  
                    
                      </ng-template>
              
                      </kendo-listview>
                      <div class="row" *ngIf="show_pulsing" >
                        <kendo-loader
                        type="pulsing"
                        themeColor="primary"
                        size="large"
                        class="loader2"
                       
                      >
                      </kendo-loader>
                      </div>
                   

          

        

        

         
      

      

      

      

       

      

    
      
          </div>

          <div class="col-md-5" >
            <div class="left_box  card ">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                  <i class="fas fa-briefcase mr-1"></i>
                 
                  New Recruitments
                </h3>

                <div class="card-tools">
                  
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body"  >
                <div class="div-recrt" >
                  <kendo-scrollview
                  [data]="recruitments"
                  [width]="width"
                  [height]="height"
                  [arrows]="true"
                  
                  
                >
                  <ng-template let-item="item">
                    <section id="speakers">
                
              
                     
                       
                          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <img  src="{{ item.url }}" alt="Speaker 1" class="img-fluid">
                            <div class="details">
                              <h3 ><a href="speaker-details.html">{{ item.name }}</a></h3>
                                <p class="poste-text">{{ item.poste }}</p>
                              <div class="social">
                                <button class="social-icon btn"><i class="fas fa-user-alt"></i></button>
                                <button class="social-icon btn"><i class="fab fa-linkedin"></i></button>
                                <button class="social-icon btn"><i class="fas fa-envelope"></i></button>
                              </div>
                            </div>
                          </div>
                       
                   
                  
                 </section>
                  </ng-template>
                </kendo-scrollview>
                </div>
            
             </div>
              
              <!-- /.card-body -->
            
            </div>
            <app-birthdays></app-birthdays>
      <app-work-anniversaries></app-work-anniversaries>
            <div class="left_box mt-3 card ">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                  <i class="fas fa-award mr-1"></i>
                 
                  Calendar
                </h3>

                <div class="card-tools">
                  
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: block;">
               
              </div>
            
              <!-- /.card-footer-->
            </div>
            <!-- 
            <div class="left_box mt-3 card ">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                  <i class="fas fa-award mr-1"></i>
                 
                  Upcoming Work Anniversaries
                </h3>

                <div class="card-tools">
                  
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
             
   
              <div class="card-body" style="display: block;">
                <full-calendar [options]="calendarOptions2"></full-calendar>
              </div>
     
            </div>
          -->

          </div>

      

      

      

       

      

      

      

        </div>

</div>
<div *ngIf="!show" class="container-fluid test2">
  <div class="h-100 row align-items-center justify-content-center t1">
    <div  class="row k-loading-panel">
      <div class="k-loading-panel-mask"></div>
      <div class="k-loading-panel-wrapper">
        <kendo-loader
          type="infinite-spinner"
          themeColor="primary"
          size="large"
        >
        </kendo-loader>
        <div class="k-loading-panel-text">Loading...</div>
      </div>
    </div>
    </div>
    </div>
      

      

      

       

      

      

      

          

      

      

      

       

      

      

      

          

      

      

      

       

      

      

      

          

      

      

      

       

      

      

      

     