.footer {
    background-color: white;
    height: 30px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-left: 25px;
    padding-right: 15px;
    background-color: #5D6D7E;
    margin: auto;
}
.mat-expansion-panel-spacing{
    margin:0;
  }
li {
    
    color: white;
}

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}
.icon-rubrique {
  height: 30px;
  width: 30px;
}
.icon-rubrique2 {
 color: white;
}
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
  }
  .mat-button.mat-primary .mat-button-focus-overlay {
    background-color: transparent;
  }
.title-rubrique {
  font-weight: 500;
  font-size: 18px;
}
::ng-deep.mat-expansion-indicator::after {
    height: 20px;
    width: 20px;
    background-image: url(https://img.icons8.com/material-sharp/24/ffffff/plus-math--v1.png);
    background-size: cover;
    color: violet;
    border: none;
    border-width: 0 !important;
    transform: rotate(0) !important;
  }

  ::ng-deep.mat-expanded .mat-expansion-indicator::after {
    height: 20px;
    width: 20px;
    background-image: url(https://img.icons8.com/material-sharp/24/ffffff/minus.png);
    background-size: cover;
    border: none;
    border-width: 0 !important;
    transform: rotate(0) !important;
  }
  
  .mat-icon {
   color: white;
   font-size: 25px;
  }
  .item {
    font-size: 15px;
  }
  
  
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {   background: white; }