<div class="row justify-content-between mb-3">
  <mat-accordion class="col-2 example-headers-align mt-3">
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #ED5E00;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #CA5000;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
            
            <img src="https://img.icons8.com/fluent-systems-filled/64/ffffff/marketing.png" class="icon-rubrique"/> 
            <span class="title-rubrique ml-1">Marketing</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
       
          
            <li><span class="item">Templates</span></li>
            <li><span  class="item">Corporate Identity</span></li>
            <li><span  class="item">Marketing Strategy</span></li>
            <li><span  class="item">Roadmap</span></li>
            
      
        
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color: #F07626;">
      <span style="color: white;">View Details</span>
      <a href="/marketing">
        <button mat-icon-button >
          <mat-icon>navigate_next</mat-icon>
        </button></a>
    
      
   </div>
  </mat-accordion>
  <mat-accordion class="col-2 example-headers-align mt-3">
      
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #f00050;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #da1657;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <img  src="https://img.icons8.com/material-outlined/24/ffffff/tear-off-calendar.png" class="icon-rubrique"/>
            <span class="title-rubrique ml-1">Events</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
       
          
        <li><span class="item">WEBINARS</span></li>
        <li><span  class="item">FAIRS</span></li>
        <li><span  class="item">NTERNAL EVENTS</span></li>
       
        
  
    
  </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color: #e05281;">
      <span style="color: white;">View Details</span>
      <a href="/events">
        <button mat-icon-button >
          <mat-icon>navigate_next</mat-icon>
        </button>
      </a>
     
      
   </div>
  </mat-accordion>
   
      
   
      <mat-accordion class="col-2 example-headers-align mt-3">
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                             border-bottom-left-radius:0px;background-color: #666666;"
                             >
          <mat-expansion-panel-header style="border-bottom-right-radius:0px;
          border-bottom-left-radius:0px; background-color: #4F4F4F;">
            <mat-panel-title style="color: white;">
              <div class="d-flex flex-row justify-content-start align-items-center">
                <img src="https://img.icons8.com/ios-filled/24/ffffff/services--v1.png" class="icon-rubrique"/>
                <span class="title-rubrique ml-1">Managed Services</span>
              </div>
       
            </mat-panel-title>
            <mat-panel-description >
                
               
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid"  >
            <div class="row">
              <div class="col-6" >
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
              <div class="col-6">
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
            </div>
          </div>
          
          
        </mat-expansion-panel>
        <div class="footer d-flex align-items-center justify-content-between" style="background-color: #757676;">
          <span style="color: white;">View Details</span>
        
          <button mat-icon-button >
            <mat-icon>navigate_next</mat-icon>
          </button>
          
       </div>
      </mat-accordion>
      <mat-accordion class="col-2 example-headers-align mt-3">
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                             border-bottom-left-radius:0px;background-color: #7150aa;"
                             >
          <mat-expansion-panel-header style="border-bottom-right-radius:0px;
          border-bottom-left-radius:0px; background-color: #5C487E;">
            <mat-panel-title style="color: white;">
              <div class="d-flex flex-row justify-content-start align-items-center">
                <img src="https://img.icons8.com/ios-filled/30/ffffff/ftp-server.png" class="icon-rubrique"/>
                <span class="title-rubrique ml-1">IT</span>
              </div>
       
            </mat-panel-title>
            <mat-panel-description >
                
               
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid"  >
            <div class="row">
              <div class="col-6" >
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
              <div class="col-6">
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
            </div>
          </div>
          
          
        </mat-expansion-panel>
        <div class="footer d-flex align-items-center justify-content-between" style="background-color: #8F7BB0;">
          <span style="color: white;">View Details</span>
        
          <button mat-icon-button >
            <mat-icon>navigate_next</mat-icon>
          </button>
          
       </div>
      </mat-accordion>
      <mat-accordion class="col-2 example-headers-align mt-3">
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                             border-bottom-left-radius:0px;background-color: #5d5e98;"
                             >
          <mat-expansion-panel-header style="border-bottom-right-radius:0px;
          border-bottom-left-radius:0px; background-color: #5F6088;">
            <mat-panel-title style="color: white;">
              <div class="d-flex flex-row justify-content-start align-items-center">
                <img src="https://img.icons8.com/ios-filled/64/ffffff/code.png" class="icon-rubrique"/> 
                <span class="title-rubrique ml-2">Dev</span>
              </div>
       
            </mat-panel-title>
            <mat-panel-description >
                
               
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid"  >
            <div class="row">
              <div class="col-6" >
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
              <div class="col-6">
                <li>eeee</li>
                <li>edme</li>
                <li>ddd</li>
              </div>
            </div>
          </div>
          
          
        </mat-expansion-panel>
        <div class="footer d-flex align-items-center justify-content-between" style="background-color: #8586AE;">
          <span style="color: white;">View Details</span>
        
          <button mat-icon-button >
            <mat-icon>navigate_next</mat-icon>
          </button>
          
       </div>
      </mat-accordion>
    
    
</div>
<div class="row justify-content-between mb-3">
  <mat-accordion class="col-2 example-headers-align">
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #34495E;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #2A3A4B;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
           
            <img   src="https://img.icons8.com/ios-filled/100/ffffff/bank-building.png" class="icon-rubrique"/>
            <span class=" d-sm-none d-lg-block title-rubrique ml-2">Finance</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
        <div class="row">
          <div class="col-6" >
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
          <div class="col-6">
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
        </div>
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between">
      <span style="color: white;">View Details</span>
    
      <button mat-icon-button >
        <mat-icon>navigate_next</mat-icon>
      </button>
      
   </div>
  </mat-accordion>
  <mat-accordion class="col-2 example-headers-align">
      
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #db8e29;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #AD7E42;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <img src="https://img.icons8.com/ios-filled/48/ffffff/manager.png" class="icon-rubrique"/>
            <span class="title-rubrique ml-1">Ex.Co</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
        <div class="row">
          <div class="col-6" >
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
          <div class="col-6">
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
        </div>
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color: #D3A569;">
      <span style="color: white;">View Details</span>
    
      <button mat-icon-button >
        <mat-icon>navigate_next</mat-icon>
      </button>
      
   </div>
  </mat-accordion>
  <mat-accordion class="col-2 example-headers-align">
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #16A085;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #12806A;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
            
            <img src="https://img.icons8.com/ios-glyphs/80/ffffff/search-client.png" class="icon-rubrique"/>
            <span class="title-rubrique ml-2">HR</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
        <div class="row">
          <div class="col-6" >
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
          <div class="col-6">
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
        </div>
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color:#45B39D ;">
      <span style="color: white;">View Details</span>
    
      <button mat-icon-button >
        <mat-icon>navigate_next</mat-icon>
      </button>
      
   </div>
  </mat-accordion>
 
  <mat-accordion class="col-2 example-headers-align ">
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #2d8dcd;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #216694;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <img  src="https://img.icons8.com/windows/100/ffffff/total-sales--v3.png" class="icon-rubrique"/>
            <span class="title-rubrique ml-1">Sales</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
        <div class="row">
          <div class="col-6" >
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
          <div class="col-6">
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
        </div>
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color: #5499C8;">
      <span style="color: white;">View Details</span>
    
      <button mat-icon-button >
        <mat-icon>navigate_next</mat-icon>
      </button>
      
   </div>
  </mat-accordion>
  <mat-accordion class="col-2 example-headers-align">
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="border-bottom-right-radius:0px;
                         border-bottom-left-radius:0px;background-color: #d94f3f;"
                         >
      <mat-expansion-panel-header style="border-bottom-right-radius:0px;
      border-bottom-left-radius:0px; background-color: #C54133;">
        <mat-panel-title style="color: white;">
          <div class="d-flex flex-row justify-content-start align-items-center">
          
            <img src="https://img.icons8.com/material/48/ffffff/computer-support--v2.png" class="icon-rubrique"/>
            <span class="title-rubrique ml-2">Professional services</span>
          </div>
   
        </mat-panel-title>
        <mat-panel-description >
            
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid"  >
        <div class="row">
          <div class="col-6" >
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
          <div class="col-6">
            <li>eeee</li>
            <li>edme</li>
            <li>ddd</li>
          </div>
        </div>
      </div>
      
      
    </mat-expansion-panel>
    <div class="footer d-flex align-items-center justify-content-between" style="background-color: #EB6759;">
      <span style="color: white;">View Details</span>
    
      <button mat-icon-button >
        <mat-icon>navigate_next</mat-icon>
      </button>
      
   </div>
  </mat-accordion>
</div>